{% extends 'base.html.twig' %}

{% block body %}
    <h1>Activity creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}

        <ul class="list-inline">
            <li>
                <a class="btn btn-default" href="{{ path('activity_index') }}">zurück</a>
            </li>
            <li>
                <input type="submit" value="Speichern" class="btn btn-primary" />
            </li>
        </ul>
        
    {{ form_end(form) }}
    
{% endblock %}
